/* Keadaan normal sebelum tombol disorot (Teks warna gelap biar kontras sama background putih) */
.tombol-navigasi {
    -fx-background-color: transparent;
    -fx-text-fill: #2C3E50; /* Mengubah warna teks menjadi abu-abu gelap/hitam estetik */
    -fx-background-radius: 20;
    -fx-alignment: center-left;
    -fx-cursor: hand;
}

/* Keadaan otomatis saat kursor mouse menyorot tombol (HOVER ORANYE) */
.tombol-navigasi:hover {
    -fx-background-color: #C6764C; /* Warna Kapsul Oranye Cerah */
    -fx-text-fill: white;          /* Mengubah teks menjadi PUTIH biar kontras di atas warna oranye */
    -fx-background-radius: 20;
    -fx-alignment: center-left;
}
/* Keadaan ketika halaman SEDANG AKTIF (Tetap oranye meskipun mouse pergi) */
.tombol-navigasi.aktif {
    -fx-background-color: #C35E2A; /* Tetap kapsul oranye */
    -fx-text-fill: white;          /* Teks tetep putih bersih */
    -fx-background-radius: 20;
    -fx-alignment: center-left;
}